* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header {
    background-image: linear-gradient(to right, #000066, #08418b 60%);
    background-size: 200% auto;
    animation: lavaFlow 6s linear infinite;
    /*color: antiquewhite;*/
    /*box-shadow: 0px 10px 5px rgb(161, 219, 238);*/
    z-index: 1;
    position: sticky;
    top: 0;
}

@keyframes lavaFlow {
    0% {
        background-position: 0% center;
    }

    50% {
        background-position: 100% center;
    }

    100% {
        background-position: 0% center;
    }
}

li {
    list-style: none;
}

a {
    color: azure;
    text-decoration: none;
}

body {
    background-color: aliceblue;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo img {
    width: 130px;
    /* ajuste o tamanho conforme necessário */
    height: 110px;
    /* ajuste o tamanho conforme necessário */
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
    font-size: 20px;
}

.nav-link {
    transition: 0.3s ease;
}

.nav-link:hover {
    color: rgb(248, 110, 60);
    font-weight: bold;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

@media (max-width:750px) {
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -120%;
        top: 110px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-image: linear-gradient(to right, #000066, #08418b 60%);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        box-shadow: 0px 10px 5px rgb(161, 219, 238);
        background-size: 200% auto;
        animation: lavaFlow 6s linear infinite;
        padding-bottom: 20px;
        padding-right: 20px;
    }

    .nav-item {
        margin: 16px;
    }

    .nav-menu.active {
        left: 0;
    }

    .landing {
        display: flex;
        flex-wrap: wrap;
        background-color: aliceblue;
        margin-top: 5px;
        z-index: 2;
        position: block;
        display: inline-flex;
        width: 100%;
        height: 900px;
    }

    .land-image .mobile {
        width: 200px;
        height: 200px;
        display: block;
        left: 25%;
        top: 25%;
    }

    .land-let.mobile {
        width: auto;
        display: flex;
        position: relative;
        justify-content: top;
        margin-top: 0;
        top: -20%;
        align-items: flex-start;
    }

    .let.mobile {
        width: auto;
        position: block;
    }
}

.landing {
    background-color: aliceblue;
    margin-top: 5px;
    z-index: 2;
    position: block;
    display: inline-flex;
    width: 100%;
    height: 900px;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.land-let {
    width: 70%;
}

.let {
    padding: 5%;
    position: relative;
    top: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}

.big-let {
    font-size: 30px;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #000066, 2px 2px 1px lightblue;
    text-align: center;
    font: bold;
}

.me-let {
    font-size: 16px;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #000066, 2px 2px 1px lightblue;
    text-align: center;
    font: bold;
    margin-top: 30px;
}

.land-image {
    width: 50%;

}

.land-image img {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 30%;
    left: 10%;
    width: 30%;
    height: 40%;
    border-radius: 40%;
    box-shadow: 2px 2px 1px rgb(58, 70, 233), 0px 10px 5px rgb(11, 125, 163);
    border: 2px solid #000066;
    animation: image-lavaflow 7s linear infinite;
    aspect-ratio: 12/9;
}

@keyframes image-lavaflow {
    0% {
        border-radius: 50% 30% 40% 60%;
    }

    25% {
        border-radius: 60% 50% 30% 40%;
    }

    50% {
        border-radius: 40% 60% 50% 30%;
    }

    75% {
        border-radius: 30% 40% 60% 50%;
    }

    100% {
        border-radius: 50% 30% 40% 60%;
    }
}

.land-carrer {
    width: 100%;
    height: 300px;
}

.div-let-carrer {
    padding-left: 17%;
    position: relative;
    top: 15%;
    
}

.big-let-carrer {
    font-size: 30px;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #000066, 2px 2px 1px lightblue;
    padding-left: 8%;
    font: bold;
}
.small-let-carrer{
    padding-top: 20px;
}


.slide {

    width: 300px;
    height: 300px;
}
.mySlides {
    display: none
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    height: 400px;
    
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.imagee3{
    background: red ;
}